<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.QqMapper">
    <select id="queryByName" parameterType="java.util.HashMap" resultType="java.lang.String">
        SELECT context FROM qqmessage
        <where>
            AND name1 =#{name1} AND name2 =#{name2} OR(name1 =#{name2} AND name2=#{name1})
        </where>
    </select>
    <resultMap id="queryByUserMap" type="java.lang.String">

    </resultMap>
    <select id="queryByUser" resultMap="queryByUserMap">
        select name1 from qqperson where name2=#{username}
        UNION
        SELECT name2 from qqperson where name1=#{username}
    </select>
    <update id="udatecontext" parameterType="java.util.HashMap">
        UPDATE  qqmessage
        SET context=#{context}
        WHERE (name1 =#{name1} AND name2 =#{name2} ) OR (name1 =#{name2} AND name2 =#{name1})
    </update>
</mapper>